nav{
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
}
nav img{
    height: 30px;
}
.login{
    background-color: black;
    height: 30px;
    width: 30px;
}
.cards{
    border: 2px solid blue;
    display: flex;
    padding: 5px;
    gap: 5px;
    overflow: hidden;
}
.card{
    
    display: flex;
    flex-direction: column;
    color: red;
    text-decoration: none;
}
.card img{
    height: 250px;
}