nav{
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
}
nav a:hover{
    background-color: black;
}
nav img{
    height: 30px;
}
.login{
    background-color: black;
    height: 30px;
    width: 30px;
}
.cards{
    
    display: flex;
    padding: 5px;
    gap: 15px;
    overflow: hidden;
}
.card{
    gap: 5px;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    width: 180px;
    transition: 0.3s;
   
}
.card:hover{
    scale: 1.5;
}

.card img{
    height: 250px;
}

body{
    background: #090979;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(7, 4, 51, 1) 50%, rgba(2, 2, 15, 1) 100%);
    margin: 0;
    color: white;
    font-family: "Abril Fatface", serif;
}

h1, h2{
    margin-left: 50px;
}
.destaque{
    width: 100%;
}